{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2> Heads of school </h2>
    <ul>
        <li> Br. Pierre Cyprien, FSC (1928–1931)</li>
        <li>Br. Léonce Onésime, FSC (1931–1937)</li>
        <li>Br. Hippolyte Itale, FSC (1937–1939)</li>
        <li>Br. Gustave Astier, FSC (1939–1940)</li>
        <li>Br. Hippolyte Itale, FSC (1940–1946)</li>
        <li>Br. Antonin Louis, FSC (1946–1947)</li>
        <li>Br. Léon André, FSC (1947–1948)</li>
        <li>Br. Antonin Louis, FSC (1948–1956)</li>
        <li>Br. Adrien Polycarpe, FSC (1956–1961)</li>
        <li>Br. Castanié Ildefonse, FSC (1961–1962)</li>
        <li>Br. Gabr Saadé, FSC (1961–1962)</li>
        <li>Br. Emile El Masri, FSC (1962–1963)</li>
        <li>Br. Jacques Boulad, FSC (1962–1979)</li>
        <li>Br. Michel Andrejko, FSC (1979–1983)</li>
        <li>Br. Régis Robbe, FSC (1983–1985)</li>
        <li>Br. Jacques Boulad, FSC (1985–1992)</li>
        <li>Br. Régis Robbe, FSC (1992–1995)</li>
        <li>Br. Georges Absi, FSC (1995–2003)</li>
        <li>Mr. Waguih Hanna Elias (2003–present)</li>
    </ul>

    <h2>Some more informations:</h2>
    <table>
        <tr>
            <td>Type</td>
            <td>Private all male</td>
        </tr>
        <tr>
            <td>Religious affiliation(s)</td>
            <td>Roman Catholic (De La Salle Brothers)</td>
        </tr>
        <tr>
            <td>Established</td>
            <td>6 October 1928</td>
        </tr>
        <tr>
            <td>Head of school</td>
            <td>Waguih Hanna Elias</td>
        </tr>
        <tr>
            <td>Grades</td>
            <td>KG1 - 12</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Number of students</td>
            <td>Approx. 2,800</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>French</td>
        </tr>
        <tr>
            <td>Campus size</td>
            <td>35,726 sq. m.</td>
        </tr>
        <tr>
            <td>Website</td>
            <td><a href="http://www.saint-marc.ws/">Visit</a></td>
        </tr>

    </table>

{% endblock %}
